In [20]:
!svn checkout https://github.com/Automating-GIS-processes/site/trunk/source/notebooks/L3/data
!mv data L3_data

A    data/PKS_suuralue.kml
A    data/addresses.cpg
A    data/addresses.dbf
A    data/addresses.prj
A    data/addresses.shp
A    data/addresses.shx
A    data/addresses.txt
A    data/building_points_helsinki.zip
A    data/pt_stops_helsinki.gpkg
A    data/uusimaa_intersections.gpkg
A    data/uusimaa_postal_code_areas.gpkg
Gerado cópia de trabalho para revisão 1282.

In [8]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [9]:
fp = r'L3_data/addresses.txt'
data = pd.read_csv(fp, sep=';')

In [11]:
data.head()

     id                                           addr
0  1000       Itämerenkatu 14, 00101 Helsinki, Finland
1  1001          Kampinkuja 1, 00100 Helsinki, Finland
2  1002           Kaivokatu 8, 00101 Helsinki, Finland
3  1003  Hermannin rantatie 1, 00580 Helsinki, Finland
4  1005     Tyynenmerenkatu 9, 00220 Helsinki, Finland

# Geocode addresses using Nominatim

In [13]:
from geopandas.tools import geocode

geo = geocode(data['addr'], provider='nominatim', 
              user_agent='autogis_xxx', timeout=4)

In [14]:
geo.head()

,geometry,address
0,POINT (24.91556 60.16320),"Ruoholahti, 14, Itämerenkatu, Ruoholahti, Läns..."
1,POINT (24.93169 60.16902),"Kamppi, 1, Kampinkuja, Kamppi, Eteläinen suurp..."
2,POINT (24.94168 60.16996),"Bangkok9, 8, Kaivokatu, Keskusta, Kluuvi, Etel..."
3,POINT (24.97193 60.19700),"Hermannin rantatie, Kyläsaari, Hermanni, Helsi..."
4,POINT (24.92160 60.15665),"Hesburger, 9, Tyynenmerenkatu, Jätkäsaari, Län..."

# Table join

In [15]:
join = geo.join(data)
join.head()

,geometry,address,id,addr
0,POINT (24.91556 60.16320),"Ruoholahti, 14, Itämerenkatu, Ruoholahti, Läns...",1000,"Itämerenkatu 14, 00101 Helsinki, Finland"
1,POINT (24.93169 60.16902),"Kamppi, 1, Kampinkuja, Kamppi, Eteläinen suurp...",1001,"Kampinkuja 1, 00100 Helsinki, Finland"
2,POINT (24.94168 60.16996),"Bangkok9, 8, Kaivokatu, Keskusta, Kluuvi, Etel...",1002,"Kaivokatu 8, 00101 Helsinki, Finland"
3,POINT (24.97193 60.19700),"Hermannin rantatie, Kyläsaari, Hermanni, Helsi...",1003,"Hermannin rantatie 1, 00580 Helsinki, Finland"
4,POINT (24.92160 60.15665),"Hesburger, 9, Tyynenmerenkatu, Jätkäsaari, Län...",1005,"Tyynenmerenkatu 9, 00220 Helsinki, Finland"

In [16]:
type(join)

geopandas.geodataframe.GeoDataFrame

In [18]:
outfp = r'L3_data/addresses.shp'
join.to_file(outfp)